<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col">

          <form [formGroup]="formCadastro" (ngSubmit)="handleCadastrarUsuario()">

            <cmail-form-group [controle]="formCadastro.get('nome')">
              <input cmailFormField name="nome" formControlName="nome" required type="text">
              <div *ngIf="formCadastro.get('nome').errors">
                <span *ngIf="formCadastro.get('nome').getError('required')" class="mdl-textfield__error">Informar um nome é obrigatório!</span>
                <span *ngIf="formCadastro.get('nome').getError('minlength')" class="mdl-textfield__error">O nome deve conter no mínimo {{formCadastro.get('nome').getError('minlength').requiredLength}} caracteres.</span>
              </div>
            </cmail-form-group>

            <cmail-form-group [controle]="formCadastro.get('username')">
              <input cmailFormField name="username" formControlName="username" required type="text">
              <span class="mdl-textfield__error">Informar um username é obrigatório!</span>
              <div *ngIf="formCadastro.get('username').errors">
                <span *ngIf="formCadastro.get('username').getError('required')" class="mdl-textfield__error">Informar um nome é obrigatório!</span>
              </div>
            </cmail-form-group>

            <cmail-form-group [controle]="formCadastro.get('senha')">
              <input cmailFormField name="senha" formControlName="senha" required type="password">
              <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
            </cmail-form-group>

            <cmail-form-group [controle]="formCadastro.get('avatar')">
              <input cmailFormField name="avatar" formControlName="avatar" required type="text">
              <span class="mdl-textfield__error">Informar um endereço de avatar é obrigatório!</span>
            </cmail-form-group>

            <cmail-form-group [controle]="formCadastro.get('telefone')">
              <input pattern="[0-9]{4}-?[0-9]{4}[0-9]?" cmailFormField name="telefone" formControlName="telefone" required type="tel">
              <span class="mdl-textfield__error">Informar um número de telefone é obrigatório!</span>
            </cmail-form-group>

            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Cadastrar
              </button>
            </div>

          </form>

        </div>
        <div class="mdl-layout-spacer"></div>
      </div>
    </div>
  </main>
</div>
