<div class="mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="page-content">
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindo(a)s ao CMail!</h1>
      </header>

      <form autocomplete="off" class="mdl-card__supporting-text" #formLogin="ngForm" (ngSubmit)="handleLogin(formLogin)">

        <section *ngIf="mensagemErro" class="mdl-textfield is-invalid">
          <p class="mdl-textfield__error">
            {{mensagemErro.message}}
          </p>
        </section>

        <cmail-form-group [controle]="email">
          <input #email="ngModel" cmailFormField name="email" cmailFormField required type="email" [(ngModel)]="dadosLogin.email">
          <span class="mdl-textfield__error">Informe o e-mail cadastrado.</span>
        </cmail-form-group>

        <cmail-form-group [controle]="senha">
          <input #senha="ngModel" cmailFormField name="senha" cmailFormField required type="password" [(ngModel)]="dadosLogin.password">
          <span class="mdl-textfield__error">Informe a senha cadastrada.</span>
        </cmail-form-group>

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
